[data-predefined-style="true"] bodycopy a {
	color: rgba(0, 0, 0, 0.95);
	text-decoration: none;
}

[data-predefined-style="true"] bodycopy a:hover {
    color: #a5a5a5;
}


[data-predefined-style="true"] bodycopy a:active {
    color: #a5a5a5;
}
a:active {
	opacity: 0.7;
}

[data-predefined-style="true"] bodycopy {
	font-size: 2.5rem;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	font-family: "Neue Haas Grotesk", Icons;
	font-style: normal;
	line-height: 1.5;
}

[data-css-preset] .container {
	margin-left: auto /*!content_center*/;
	margin-right: auto /*!content_center*/;
	text-align: left /*!text_left*/;
}

body {
	background-color: #000;
	color: #000;
}